<html>
<head><style> 
.form-container {
  max-width: 300px;
  /* float:middle; */
  /* margin-top:0px;*/
  margin-left:600px;
  margin-top:20px; 
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
}
form {
  display: flex;
  flex-direction: column;
}
label {
  margin-bottom: 10px;
  font-weight: bold;
}
select{
  padding: 10px;
  margin-bottom:5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  background-color:#0066cc;
  margin-top:10px;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
h2{
  padding-top:0px;
  margin-top:2px;;
}
input[type="submit"]:hover {
  margin-top: 10px;;
  background-color:#0066cc;
}
body {
                
                font-family: Arial, sans-serif;
            }
            table {
                text-align: center;
                width: 90%;
                margin: 20px auto;
                border-collapse: collapse;
            }
            th {
                background-color: #0066cc;
                color: #ffffff;
                padding: 10px;
                font-size: 18px;
                border: 1px solid #ddd;
            }
            td {
                padding: 8px;
                font-size: 16px;
                border: 1px solid #ddd;
            }
            .lunch-break {
        background-color: #0066cc;
        color: #ffffff;
        font-size: 20px;
        font-weight: bold;
        vertical-align: middle;
      }
      
            tr:nth-child(even) {
                background-color: #f2f2f2;
            }
      
      h1 {
        font-size: 24px;
        margin-bottom:5px;
        padding-top:0px;
      }
        </style>
    </head>
<body>
  <div class="container">
    <h1 align="center">Timetable </h1>
    <h1 align="center"> Year:<%= year %> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSection:<%= section %></h1>
    <table border="1">
      <thead>
        <tr>
          <th>Day</th>
          <th>08:40 - 09:30</th>
          <th>09:30 - 10:20</th>
          <th>10:20 - 11:10</th>
          <th>11:10 - 12:00</th>
          <th>12:00 - 12:50</th>
          <th>12:50 - 01:40</th>
          <th>01:40 - 02:30</th>
          <th>02:30 - 03:20</th>
          <th>03:20 - 04:10</th>
        </tr>
      </thead>
      <tbody> 
        <% let showLunchBreak = true; %>
        <% timetable.forEach(row =>{ %>
            <% let showP = Array(8).fill(true); %>
        <tr>
            <td><%= row.Day %></td>
            <% if (showP[0]) { %>
            <% let sp=1; %>
            <% let i=1; %>
            <% let j=2; %>
            <% while(row[`P`+i]==row[`P`+j] && j<=4){
                showP[j-1]=false;
                i++;
                j++;
                sp++;
            } %>
            <td colspan="<%= sp %>"><%= row.P1 %></td>
            <% } %>
            <% if (showP[1]) { %>
            <%  sp=1; %>
            <%  i=2; %>
            <%  j=3; %>
            <% while(row[`P`+i]==row[`P`+j] && j<=4){
                showP[j-1]=false;
                i++;
                j++;
                sp++;
            } %>
            <td colspan="<%= sp %>"><%= row.P2 %></td>
            <% } %>
            <% if (showP[2]) { %>
            <%  sp=1; %>
            <%  i=3; %>
            <%  j=4; %>
            <% while(row[`P`+i]==row[`P`+j] && j<=4){
                showP[j-1]=false;
                i++;
                j++;
                sp++;
            } %>
            <td colspan="<%= sp %>"><%= row.P3 %></td>
            <% } %>
            <% if (showP[3]) { %>
            <td ><%= row.P4 %></td>
            <% } %>
            <% if (showLunchBreak) { %>
              <td class='lunch-break' rowspan="6">L<br>U<br>N<br>C<br>H<br> <br>B<br>R<br>E<br>A<br>K</td>
              <% showLunchBreak = false; %>
            <% } %>
            <% if (showP[4]) { %>
            <% sp=1; %>
            <% i=5; %>
            <% j=6; %>
            <% while(row[`P`+i]==row[`P`+j] && j<=8){
                showP[j-1]=false;
                i++;
                j++;
                sp++;
            } %>
            <td colspan="<%= sp %>"><%= row.P5 %></td>
            <% } %>
            <% if (showP[5]) { %>
                <% sp=1; %>
                <% i=6; %>
                <% j=7; %>
                <% while(row[`P`+i]==row[`P`+j] && j<=8){
                    showP[j-1]=false;
                    i++;
                    j++;
                    sp++;
                } %>
                <td colspan="<%= sp %>"><%= row.P6 %></td>
                <% } %>
                <% if (showP[6]) { %>
                    <% sp=1; %>
                    <% i=7; %>
                    <% j=8; %>
                    <% while(row[`P`+i]==row[`P`+j] && j<=8){
                        showP[j-1]=false;
                        i++;
                        j++;
                        sp++;
                    } %>
                    <td colspan="<%= sp %>"><%= row.P7 %></td>
                    <% } %>
                    <% if (showP[7]) { %>
                        <td><%= row.P8 %></td>
                        <% } %>
                    </tr>
                    <% }); %>
            </tbody>
    </table>
  </div> 
  <div class="form-container">
    <h2>Change Schedule</h2>
    <form name="fm" method="post" action="/edit" onsubmit="return validation()">
      <label for="day">Day:</label>
      <select id="day" name="day">
        <option value="None"> </option>
        <option value="Mon">Monday</option>
        <option value="Tue">Tuesday</option>
        <option value="Wed">Wednesday</option>
        <option value="Thu">Thursday</option>
        <option value="Fri">Friday</option>
        <option value="Sat">Saturday</option>
      </select>
      <label for="period">Period:</label>
      <select id="period" name="period">
        <option value="None"> </option>
        <option value="P1">08:40 - 09:30</option>
        <option value="P2">09:30 - 10:20</option>
        <option value="P3">10:20 - 11:10</option>
        <option value="P4">11:10 - 12:00</option>
        <option value="P5">12:50 - 01:40</option>
        <option value="P6">01:40 - 02:30</option>
        <option value="P7">02:30 - 03:20</option>
        <option value="P8">03:20 - 04:10</option>
      </select>
      <label for="changeTo">Change to:</label>
      <select id="changeTo" name="changeTo">
        <option value="None"> </option>
        <option value="313"></option>
        <option value="31">ITRE</option>
        <option value="32">ML</option>
        <option value="33">NNDL</option>
        <option value="34">OOSE</option>
        <option value="35">WT</option>
        <option value="36">CNS</option>
        <option value="37">WT/OOSE LAB</option>
        <option value="310">SPORTS</option>
        <option value="311">LIBRARY</option>
        <option value="312">COUNSELLING</option>
        <option value="39">QA-II</option>
        <option value="314">VA</option>
      </select>
      <input type="hidden" name="year" value="<%= year %>">
      <input type="hidden" name="section" value="<%= section %>">
      <input type="submit" value="Submit">
    </form>
  </div>  
  <script>
    function validation() {
      var day = document.getElementById("day").value;
      var period = document.getElementById("period").value;
      var changeTo = document.getElementById("changeTo").value;
      
      if (day == "None"){
        alert("Please enter a valid day field");
        document.fm.day.focus();
        return false;
      }
      else if(period == "None"){
        alert("Please select a value for period field.");
        document.fm.period.focus();
        return false;
      }
      else if(changeTo == "None") {
        alert("Please select a value for changeTo field.");
        document.fm.changeTo.focus();
        return false;
      }
      return true;
    }
    </script>
    
</body>
</html>